In [10]:
import pandas as pd
import numpy as np
import requests
import io

In [3]:
url1 = 'https://data.ontario.ca/dataset/f4f86e54-872d-43f8-8a86-3892fd3cb5e6/resource/ed270bb8-340b-41f9-a7c6-e8ef587e6d11/download/covidtesting.csv'  
content = requests.get(url1).content
ontario_daily = pd.read_csv(io.StringIO(content.decode('utf-8')))

In [4]:
#ontario_daily = pd.read_csv('../Ontario_status.csv')

In [5]:
ontario_daily

,Reported Date,Confirmed Negative,Presumptive Negative,Presumptive Positive,Confirmed Positive,Resolved,Deaths,Total Cases,Total patients approved for testing as of Reporting Date,Total tests completed in the last day,Percent positive tests in last day,Under Investigation,Number of patients hospitalized with COVID-19,Number of patients in ICU with COVID-19,Number of patients in ICU on a ventilator with COVID-19,Total Positive LTC Resident Cases,Total Positive LTC HCW Cases,Total LTC Resident Deaths,Total LTC HCW Deaths
0,2020-01-26,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-27,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-28,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-30,NaN,NaN,0.0,2.0,NaN,NaN,2.0,NaN,NaN,NaN,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-31,NaN,NaN,0.0,2.0,NaN,NaN,2.0,NaN,NaN,NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,2021-01-17,NaN,NaN,NaN,28893.0,203484.0,5409.0,237786.0,8925446.0,60183.0,5.2,30103,1570.0,395.0,293.0,13210.0,5209.0,3198.0,10.0
347,2021-01-18,NaN,NaN,NaN,28621.0,206310.0,5433.0,240364.0,8965747.0,40301.0,6.6,18481,1571.0,394.0,303.0,13337.0,5261.0,3212.0,10.0
348,2021-01-19,NaN,NaN,NaN,27615.0,209183.0,5479.0,242277.0,9000278.0,34531.0,6.8,36750,1626.0,400.0,292.0,13412.0,5318.0,3232.0,10.0
349,2021-01-20,NaN,NaN,NaN,26467.0,212897.0,5568.0,244932.0,9054585.0,54307.0,4.9,48963,1598.0,395.0,296.0,13549.0,5375.0,3274.0,10.0
350,2021-01-21,NaN,NaN,NaN,26063.0,215887.0,5614.0,247564.0,9124841.0,70256.0,4.3,52871,1533.0,388.0,293.0,13647.0,5430.0,3307.0,10.0

In [6]:
ontario_daily['Reported Date'] = pd.to_datetime(ontario_daily['Reported Date'])
ontario_daily

,Reported Date,Confirmed Negative,Presumptive Negative,Presumptive Positive,Confirmed Positive,Resolved,Deaths,Total Cases,Total patients approved for testing as of Reporting Date,Total tests completed in the last day,Percent positive tests in last day,Under Investigation,Number of patients hospitalized with COVID-19,Number of patients in ICU with COVID-19,Number of patients in ICU on a ventilator with COVID-19,Total Positive LTC Resident Cases,Total Positive LTC HCW Cases,Total LTC Resident Deaths,Total LTC HCW Deaths
0,2020-01-26,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-27,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-28,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-30,NaN,NaN,0.0,2.0,NaN,NaN,2.0,NaN,NaN,NaN,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-31,NaN,NaN,0.0,2.0,NaN,NaN,2.0,NaN,NaN,NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,2021-01-17,NaN,NaN,NaN,28893.0,203484.0,5409.0,237786.0,8925446.0,60183.0,5.2,30103,1570.0,395.0,293.0,13210.0,5209.0,3198.0,10.0
347,2021-01-18,NaN,NaN,NaN,28621.0,206310.0,5433.0,240364.0,8965747.0,40301.0,6.6,18481,1571.0,394.0,303.0,13337.0,5261.0,3212.0,10.0
348,2021-01-19,NaN,NaN,NaN,27615.0,209183.0,5479.0,242277.0,9000278.0,34531.0,6.8,36750,1626.0,400.0,292.0,13412.0,5318.0,3232.0,10.0
349,2021-01-20,NaN,NaN,NaN,26467.0,212897.0,5568.0,244932.0,9054585.0,54307.0,4.9,48963,1598.0,395.0,296.0,13549.0,5375.0,3274.0,10.0
350,2021-01-21,NaN,NaN,NaN,26063.0,215887.0,5614.0,247564.0,9124841.0,70256.0,4.3,52871,1533.0,388.0,293.0,13647.0,5430.0,3307.0,10.0

In [7]:
#functions to compute necessary values for dashboard
ontario_daily.loc[:,'new_positive'] = ontario_daily['Confirmed Positive'].diff()
ontario_daily.loc[:,'new_cases']= ontario_daily['Total Cases'].diff()
ontario_daily.loc[:,'new_resolved']= ontario_daily['Resolved'].diff()
ontario_daily.loc[:,'new_death']= ontario_daily['Deaths'].diff()

today = ontario_daily.loc[ontario_daily['Reported Date']==ontario_daily['Reported Date'].max(),:]
active_cases = int(today['Confirmed Positive'])
total_cases = int(today['Total Cases'])
total_deaths = int(today['Deaths'])
total_recoveries = int(today['Resolved'])
total_tests = int(ontario_daily['Total tests completed in the last day'].sum())

new_positive_today = int(today['new_positive'])
new_recovered_today = int(today['new_resolved'])
new_deaths_today = int(today['new_death'])
tests_today = int(today['Total tests completed in the last day'])

In [8]:
#the sum of new_positive, new_resolved and new_death = new_cases
#new_positive can be negative if a patient becomes resolved or dies
ontario_daily

,Reported Date,Confirmed Negative,Presumptive Negative,Presumptive Positive,Confirmed Positive,Resolved,Deaths,Total Cases,Total patients approved for testing as of Reporting Date,Total tests completed in the last day,...,Number of patients in ICU with COVID-19,Number of patients in ICU on a ventilator with COVID-19,Total Positive LTC Resident Cases,Total Positive LTC HCW Cases,Total LTC Resident Deaths,Total LTC HCW Deaths,new_positive,new_cases,new_resolved,new_death
0,2020-01-26,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-27,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-28,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-30,NaN,NaN,0.0,2.0,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN
4,2020-01-31,NaN,NaN,0.0,2.0,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,2021-01-17,NaN,NaN,NaN,28893.0,203484.0,5409.0,237786.0,8925446.0,60183.0,...,395.0,293.0,13210.0,5209.0,3198.0,10.0,275.0,3422.0,3078.0,69.0
347,2021-01-18,NaN,NaN,NaN,28621.0,206310.0,5433.0,240364.0,8965747.0,40301.0,...,394.0,303.0,13337.0,5261.0,3212.0,10.0,-272.0,2578.0,2826.0,24.0
348,2021-01-19,NaN,NaN,NaN,27615.0,209183.0,5479.0,242277.0,9000278.0,34531.0,...,400.0,292.0,13412.0,5318.0,3232.0,10.0,-1006.0,1913.0,2873.0,46.0
349,2021-01-20,NaN,NaN,NaN,26467.0,212897.0,5568.0,244932.0,9054585.0,54307.0,...,395.0,296.0,13549.0,5375.0,3274.0,10.0,-1148.0,2655.0,3714.0,89.0
350,2021-01-21,NaN,NaN,NaN,26063.0,215887.0,5614.0,247564.0,9124841.0,70256.0,...,388.0,293.0,13647.0,5430.0,3307.0,10.0,-404.0,2632.0,2990.0,46.0

In [3]:
def get_data_from_url(url):
    content = requests.get(url).content
    return pd.read_csv(io.StringIO(content.decode('utf-8')))

In [4]:
# PHU statistics

phu_data_rolling = get_data_from_url('https://data.ontario.ca/dataset/1115d5fe-dd84-4c69-b5ed-05bf0c0a0ff9/resource/d1bfe1ad-6575-4352-8302-09ca81f7ddfc/download/cases_by_status_and_phu.csv')

In [5]:
phu_data_rolling

,FILE_DATE,PHU_NAME,PHU_NUM,ACTIVE_CASES,RESOLVED_CASES,DEATHS
0,2020-04-10,"HALIBURTON, KAWARTHA, PINE RIDGE",2235.0,23,69,18
1,2020-04-10,HALTON REGION,2236.0,112,137,9
2,2020-04-10,HASTINGS & PRINCE EDWARD COUNTIES,2238.0,12,11,1
3,2020-04-10,HURON PERTH,5183.0,20,8,1
4,2020-04-10,"KINGSTON, FRONTENAC, LENNOX & ADDINGTON",2241.0,13,39,0
...,...,...,...,...,...,...
10807,2021-02-11,WATERLOO REGION,2265.0,352,9349,214
10808,2021-02-11,WELLINGTON-DUFFERIN-GUELPH,2266.0,217,4175,89
10809,2021-02-11,WINDSOR-ESSEX COUNTY,2268.0,262,11809,347
10810,2021-02-11,YORK REGION,2270.0,1000,25255,528
10811,2021-02-11,NaN,NaN,48,1193,46

In [11]:
phu_dict_list = [{'label':name, 'value':name} for name in phu_data_rolling['PHU_NAME'].unique() if name is not np.nan]
phu_dict_list.append({'label':'Ontario','value':'Ontario'})
phu_dict_list

[{'label': 'HALIBURTON, KAWARTHA, PINE RIDGE',
  'value': 'HALIBURTON, KAWARTHA, PINE RIDGE'},
 {'label': 'HALTON REGION', 'value': 'HALTON REGION'},
 {'label': 'HASTINGS & PRINCE EDWARD COUNTIES',
  'value': 'HASTINGS & PRINCE EDWARD COUNTIES'},
 {'label': 'HURON PERTH', 'value': 'HURON PERTH'},
 {'label': 'KINGSTON, FRONTENAC, LENNOX & ADDINGTON',
  'value': 'KINGSTON, FRONTENAC, LENNOX & ADDINGTON'},
 {'label': 'LAMBTON COUNTY', 'value': 'LAMBTON COUNTY'},
 {'label': 'LEEDS, GRENVILLE AND LANARK DISTRICT',
  'value': 'LEEDS, GRENVILLE AND LANARK DISTRICT'},
 {'label': 'MIDDLESEX-LONDON', 'value': 'MIDDLESEX-LONDON'},
 {'label': 'NIAGARA REGION', 'value': 'NIAGARA REGION'},
 {'label': 'NORTH BAY PARRY SOUND DISTRICT',
  'value': 'NORTH BAY PARRY SOUND DISTRICT'},
 {'label': 'NORTHWESTERN', 'value': 'NORTHWESTERN'},
 {'label': 'OXFORD ELGIN-ST.THOMAS', 'value': 'OXFORD ELGIN-ST.THOMAS'},
 {'label': 'PEEL REGION', 'value': 'PEEL REGION'},
 {'label': 'PETERBOROUGH COUNTY-CITY', 'value': 'PETERBOROUGH COUNTY-CITY'},
 {'label': 'PORCUPINE', 'value': 'PORCUPINE'},
 {'label': 'RENFREW COUNTY AND DISTRICT',
  'value': 'RENFREW COUNTY AND DISTRICT'},
 {'label': 'SIMCOE MUSKOKA DISTRICT', 'value': 'SIMCOE MUSKOKA DISTRICT'},
 {'label': 'SUDBURY AND DISTRICT', 'value': 'SUDBURY AND DISTRICT'},
 {'label': 'THUNDER BAY DISTRICT', 'value': 'THUNDER BAY DISTRICT'},
 {'label': 'TIMISKAMING', 'value': 'TIMISKAMING'},
 {'label': 'TORONTO', 'value': 'TORONTO'},
 {'label': 'WATERLOO REGION', 'value': 'WATERLOO REGION'},
 {'label': 'WELLINGTON-DUFFERIN-GUELPH',
  'value': 'WELLINGTON-DUFFERIN-GUELPH'},
 {'label': 'WINDSOR-ESSEX COUNTY', 'value': 'WINDSOR-ESSEX COUNTY'},
 {'label': 'YORK REGION', 'value': 'YORK REGION'},
 {'label': 'ALGOMA DISTRICT', 'value': 'ALGOMA DISTRICT'},
 {'label': 'BRANT COUNTY', 'value': 'BRANT COUNTY'},
 {'label': 'CHATHAM-KENT', 'value': 'CHATHAM-KENT'},
 {'label': 'CITY OF HAMILTON', 'value': 'CITY OF HAMILTON'},
 {'label': 'CITY OF OTTAWA', 'value': 'CITY OF OTTAWA'},
 {'label': 'DURHAM REGION', 'value': 'DURHAM REGION'},
 {'label': 'EASTERN ONTARIO', 'value': 'EASTERN ONTARIO'},
 {'label': 'GREY BRUCE', 'value': 'GREY BRUCE'},
 {'label': 'HALDIMAND-NORFOLK', 'value': 'HALDIMAND-NORFOLK'}]

In [15]:
phu_data_rolling[phu_data_rolling['PHU_NAME']=='HALTON REGION']

,FILE_DATE,PHU_NAME,PHU_NUM,ACTIVE_CASES,RESOLVED_CASES,DEATHS
1,2020-04-10,HALTON REGION,2236.0,112,137,9
35,2020-04-11,HALTON REGION,2236.0,109,147,10
69,2020-04-12,HALTON REGION,2236.0,111,154,10
103,2020-04-13,HALTON REGION,2236.0,118,162,11
137,2020-04-14,HALTON REGION,2236.0,148,171,11
...,...,...,...,...,...,...
10652,2021-02-07,HALTON REGION,2236.0,593,7705,172
10686,2021-02-08,HALTON REGION,2236.0,574,7756,173
10720,2021-02-09,HALTON REGION,2236.0,590,7782,173
10754,2021-02-10,HALTON REGION,2236.0,545,7852,176
10788,2021-02-11,HALTON REGION,2236.0,534,7892,178

In [18]:
phu_data_rolling = phu_data_rolling.loc[phu_data_rolling['PHU_NAME']=='HALTON REGION']
df = phu_data_rolling.loc[phu_data_rolling['FILE_DATE'] == phu_data_rolling['FILE_DATE'].max()]
df

,FILE_DATE,PHU_NAME,PHU_NUM,ACTIVE_CASES,RESOLVED_CASES,DEATHS
10788,2021-02-11,HALTON REGION,2236.0,534,7892,178

In [20]:
int(df['ACTIVE_CASES'])

534